<div class="collapsebg">
	<div class="pull-left">
		<div class="togglewrap">
			<div class="round-corner" >
				<a href="javascript:void(0)" class="leftmenu-trigger" data-trigger="leftmenu-collapse"><i class="fa fa-angle-double-left"></i></a>
			</div>
		</div>
		<div class="headbg">
			<h1>Dashboard</h1>
		</div>
	</div>
	<div class="clearfix"></div>
</div>
<div class="container-fluid contaninermargin">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-8">
			<div class="">
				<!-- Widget coutner start -->
				<div id="counterwrapper">
					<div class="col-md-4 col-sm-4 pad-x0px">
						<div class="counterwrpper">
							<div class="marleft2px counterwidget-rose pad5px minheight">
								<small> <samp class="arrowup"><kbd>25%</kbd></samp> </small>
								<div class="row pad-x0px">
									<div class=" col-lg-4 col-md-12 col-sm-4 col-xs-4">
										<h2><i class="fa fa-comments-o"></i></h2>
									</div>
									<div class=" col-lg-8 col-md-12 col-sm-8 col-xs-8">
										<span> 1008
											<p>
												Rule Count
											</p> </span>
									</div>
								</div>
							</div>
						</div>

					</div>
					<div class="col-md-4  col-sm-4 pad-x0px">
						<div class="counterwrpper">
							<div class="marleft2px counterwidget-yellow pad5px minheight">
								<small> <samp class="arrowup"><kbd>100%</kbd></samp> </small>
								<div class="row pad-x0px">
									<div class=" col-lg-4 col-md-12 col-sm-4 col-xs-4">
										<h2><i class="fa fa-twitter"></i></h2>
									</div>
									<div class=" col-lg-8 col-md-12 col-sm-8 col-xs-8">
										<span> 650
											<p>
												State Variable
											</p> </span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 pad-x0px">
						<div class="counterwrpper">
							<div class="marleft2px counterwidget-red pad5px minheight">
								<small> <samp class="arrowup"><kbd>25%</kbd></samp> </small>
								<div class="row pad-x0px">
									<div class=" col-lg-4 col-md-12 col-sm-4 col-xs-4">
										<h2><i class="fa fa-shopping-cart"></i></h2>
									</div>
									<div class=" col-lg-8 col-md-12 col-sm-8 col-xs-8">
										<span> 1008
											<p>
												Application Contract
											</p> </span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 pad-x0px">
						<div class="counterwrpper">
							<div class="marleft2px martop2px counterwidget-orange pad5px minheight">
								<small> <samp class="arrowup"><kbd>25%</kbd></samp> </small>
								<div class="row pad-x0px">
									<div class=" col-lg-4 col-md-12 col-sm-4 col-xs-4">
										<h2><i class="fa fa-flask"></i></h2>

									</div>
									<div class=" col-lg-8 col-md-12 col-sm-8 col-xs-8">
										<span> 1008
											<p>
												Registered Services
											</p> </span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 pad-x0px">
						<div class="counterwrpper">
							<div class="marleft2px martop2px counterwidget-green pad5px minheight">
								<small> <samp class="arrowup"><kbd>25%</kbd></samp> </small>
								<div class="row pad-x0px">
									<div class=" col-lg-4 col-md-12 col-sm-4 col-xs-4">
										<h2><i class="fa fa-bar-chart-o"></i></h2>
									</div>
									<div class=" col-lg-8 col-md-12 col-sm-8 col-xs-8">
										<span> 1008
											<p>
												Users Count
											</p> </span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 pad-x0px">
						<div class="counterwrpper">
							<div class="marleft2px martop2px counterwidget-blue pad5px minheight">
								<div class="row pad-x0px">
									<div class=" col-lg-4 col-md-12 col-sm-4 col-xs-4">
										<div class="chart">
											<div class="percentage" data-ui="piechart" data-percent="30">
												<b>55</b> %
											</div>
										</div>
									</div>
									<div class=" col-lg-8 col-md-12 col-sm-8 col-xs-8">
										<span> 1008
											<p>
												Input Variable
											</p> </span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>

				<!-- Widget coutner End -->

			</div>
			<div class="clearfix"></div>
		</div>
		<div class="col-sm-12 col-md-12 col-lg-4">
			<div id="accordion" class="panel-group">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">Unused Building Blocks<a title="Hide" data-toggle-class="fa-chevron-circle-down fa-chevron-circle-up" data-ui="collapsible" data-collapse-parent=".panel" data-collapse-child=".panel-collapse" href="javascript:void(0)" class="collapsible-btn pull-right"> <i class="fa fa-chevron-circle-down"></i> </a></h4>
					</div>
					<div class="panel-collapse collapse in" id="collapsible1">
						<div class="panel-body pad-x0px pad-y0px">
							<div class="weekendwrap">
								<div class="center-block-table">
									<div class="btn-group max_width_ofweek">
										<button type="button" class="btn btn-danger">
											This Week
										</button>
										<button type="button" class="btn  dropdown-toggle" data-toggle="dropdown">
											<span><i class="fa fa-angle-down"></i></span>
											<span class="sr-only">Toggle Dropdown</span>
										</button>
										<ul class="dropdown-menu pad-x5px" role="menu">
											<li>
												<a href="javascript:void(0)">Today</a>
											</li>
											<li>
												<a href="javascript:void(0)"  >Yesterday</a>
											</li>
											<li class="divider"></li>
											<li>
												<a href="javascript:void(0)"  >Last Month</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							 <div class="chart-content">
								<div id="chart1" data-chart="piechart"></div>
							</div> 
							<div class="chartlisitng">
								<ul>
									<li class="pie-first">
										<i class="fa fa-circle"></i> Rules
									</li>
									<li class="pie-second">
										<i class="fa fa-circle"></i> State Variable
									</li>
									<li class="pie-third">
										<i class="fa fa-circle"></i> User Count
									</li>
									<li class="pie-four">
										<i class="fa fa-circle"></i> Input Variable
									</li>
									<div class="clearfix"></div>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="row">
		<div class="col-sm-12 col-md-12 col-lg-8">
			<div id="accordion" class="panel-group">
				<div class="panelgrid panel panel-default panelcust">
					<div class="panel-heading">
						<h4 class="panel-title">Recent Logged in Users<a title="Hide" data-toggle-class="fa-chevron-circle-down fa-chevron-circle-up" data-ui="collapsible" data-collapse-parent=".panel" data-collapse-child=".panel-collapse" href="javascript:void(0)" class="collapsible-btn pull-right"> <i class="fa fa-chevron-circle-down"></i> </a></h4>
					</div>
					<div class="panel-collapse collapse in" id="collapsible1">
						<div class="panel-body pad-x0px pad-y0px">
							<div class="table-responsive">
								<table id="jqgrid-recentlogged"></table>
								<div class="grid-pager" id="jqgrid-pager-recentlogged"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<!-- <div class="row">
		<div class="col-sm-12 col-md-12 col-lg-8">
			<div id="accordion" class="panel-group">
				<div class="panelgrid panel panel-default panelcust hidepaneltitle">
					<div class="panel-heading">
						<h4 class="panel-title">Recent Tasks<a title="Hide" data-toggle-class="fa-chevron-circle-down fa-chevron-circle-up" data-ui="collapsible" data-collapse-parent=".panel" data-collapse-child=".panel-collapse" href="javascript:void(0)" class="collapsible-btn pull-right"> <i class="fa fa-chevron-circle-down"></i> </a></h4>
					</div>
					<div class="panel-collapse collapse in" id="collapsible1">
						<div class="panel-body pad-x0px pad-y0px">
							<div class="table-responsive">
								<table id="jqgrid-recenttask"></table>
								<div class="grid-pager" id="jqgrid-pager-recenttask"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
</div>


