<div class="">
	<ul data-template="tmp_navigation_left" id="tmp_cnt_navigation_left" class="nav nav-sidebar">
		
		<li data-menu="submenu"  class="submenu">
			<a title="Oversight" href="index.html" class="active"> <i class="fa fa-dashboard"></i> <span class="menu-label">Dashboard</span> <i class="fa fa-angle-right pull-right" data-toggle-class="fa-angle-down"></i></a>
		</li>
		<li data-menu="submenu" class="submenu">
			<a title="My Competencies" href="javascript:void(0)" data-keypage="users" data-link="../usercompetency/naresh"> <i class="fa fa-angle-double-right"></i> <span class="menu-label">My Competencies</span></a>
		</li>
		<li>
			<a title="Role" href="javascript:void(0)"  data-keypage="role" data-link="role.html"> <i class="fa fa-angle-double-right"></i> <span class="menu-label">Role</span></a>
		</li>
		<li data-menu="submenu" class="submenu">
			<a title="Service Administrator" href="javascript:void(0)"> <i class="fa fa-bullseye"></i> <span class="menu-label">Service Administrator</span> <i class="fa fa-angle-right pull-right" data-toggle-class="fa-angle-down"></i> </a>
			<ul>
				<li>
					<a title="Engine" href="javascript:void(0)"  data-keypage="engine" data-link="engine.html"> <i class="fa fa-angle-double-right"></i> <span class="menu-label">Engine</span></a>
				</li>
				
			</ul>
		</li>
		
		<!-- <li data-menu="submenu" class="submenu">
		<a title="Administrator" href="#"> <i class="fa fa-wrench"></i> <span class="menu-label">Administrator</span> <i class="fa fa-angle-right pull-right" data-toggle-class="fa-angle-down"></i> </a>
		<ul>
		<li>
		<a title="Action Services" href="#"> <i class="fa fa-angle-double-right"></i><span class="menu-label">Action Services</span></a>
		</li>
		</ul>
		</li> -->
		<li data-menu="submenu" class="submenu">
			<a title="Components" href="javascript:void(0)"> <i class="fa fa-building-o"></i> <span class="menu-label">Components</span> <i class="fa fa-angle-right pull-right" data-toggle-class="fa-angle-down"></i> </a>
			<ul>
				<li>
					<a title="Form" href="javascript:void(0)" data-keypage="formComponents" data-link="form.html"> <i class="fa fa-angle-double-right"></i> <span class="menu-label">Form Fields</span></a>
				</li>
				<li>
					<a title="Form" href="javascript:void(0)" data-keypage="formComponents" data-link="confirmbox.html"> <i class="fa fa-angle-double-right"></i> <span class="menu-label">Confirm Box & Alert Box </span></a>
				</li>

			</ul>
		</li>
	</ul>
</div>
<div class="footerver">
	<p>
		<b>Version :</b> 1.0
	</p>
</div>
